 <!DOCTYPE html>
<html lang="en">

<head>
    <title>MDB</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"
    />  
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
    ></script>   
</head>
    <style>
    article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
    }  
    main {
      padding-top: 80px;
      padding-bottom: 80px;
      min-height: 80vh;
    }

  </style>
    

<body>
  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt="" loading="lazy" />
        </a>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                alt="" loading="lazy" />
            </a>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main>
    <div class="container">
    <div class="row">
          <!-- Sidebar -->
    <aside id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white col-lg-3">
      <div class="position-fixed">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <a href="/admin/sales" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Sales</span>
          </a>
          <a href="/admin/products" class="list-group-item list-group-item-action py-2 ripple active"><i
              class="fas fa-lock fa-fw me-3"></i><span>Inventory</span></a>
        </div>
      </div>
    </aside>
    <!-- Sidebar -->
    <div class="pt-4 col-lg-9">
      <!-- Section: Main chart -->
      <section class="mb-4">
        <div class="card">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center"><strong>Inventory</strong></h5>
          </div>
          <div class="card-body">
            <table class="table table-hover align-middle mb-0 bg-white">
              <thead class="bg-light">
                <tr>
                  <th></th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Inventory</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (products && products.length > 0) { %>
                <% products.forEach(function(product){ %>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1"><%= product.name %></p>
                        <p class="text-muted mb-0">#<%= product.product_id %></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">$<%= product.price %></p>
                    <p class="text-muted mb-0">/ per item</p>
                  </td>
                  <td>
                    <span class="badge badge-primary rounded-pill d-inline"
                          ><%= product.product_kind %></span
                      >
                  </td>
                  <td><%= product.inventory_amount %></td>
                  <td>
                    <a
                       role="button"
                       href="/admin/products/<%= product.product_id %>"
                       class="btn btn-link btn-rounded btn-sm fw-bold"
                       data-mdb-ripple-color="dark"
                      >
                      Edit
                    </a>
                  </td>
                </tr>
                <% }); %>
                <% } %> 
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- Section: Main chart -->

    </div>
    </div>
    </div>
  </main>
  <!--Main layout-->


</body>

</html>